---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import '../styles/global.css'
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h4 class="text-6xl font-bold text-blue-600 hover:text-red-500 mb-2">
        Hello, I'm Michael
			</h1>
      <h4 class="text-xl text-gray-600 mb-6">
				<span id="typed-text"></span>
        </br>
			<!-- <h5 class="text-xl text-gray-600 mb-6"> -->
			<!-- 	Ph.D. Student | NSF GRFP | ECE -->
			<!-- 	<br /> -->
			</h2>
      <h5>
      <a href="https://irl.gatech.edu/people/" target="_blank" class="text-blue-600 hover:underline">Inan Research Lab</a> @ GT
      </h5>
			<p>
				My research focuses on machine learning applications for biomedical and mental health, with a particular emphasis on cardiovascular signal processing. I apply both deep learning and classical signal processing techniques, combined with statistical analysis, to advance data-driven healthcare solutions. Additionally, I explore alternative machine learning paradigms that enhance performance while improving the security and privacy of sensitive biomedical data.
			</p>

			<p>
				<strong>Email:</strong> <a href="mailto:mcho314@gatech.edu">mcho314@gatech.edu</a>
			</p>

		</main>
		<Footer />
    <script>
            import Typed from 'typed.js';

            const typed = new Typed('#typed-text', {
                strings: [
                  'Ph.D. Student', 
                  'Researcher', 
                  'Developer',
                  'Engineer',
                  'Life-Long Learner'
                ],
                typeSpeed: 60,   // Speed in ms of typing
                backSpeed: 30,   // Speed in ms of deleting
                backDelay: 1500, // Time to wait before deleting
                startDelay: 500, // Time to wait before starting
                loop: true       // Loop the animation
            });
        </script>
	</body>
</html>
